<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/template.css">
    <title>ChemPal</title>
</head>
<body>     
    <div class="container">
        <h1><span class="fancy">ChemPal</span></h1>
        <h2>Balancing chemical equations since 2024</h2>
        <form method="POST" action="/" class="query-form">
            <input type="text" name="text" placeholder="Enter your chemical equation" required>
            <button type="submit">Balance</button>
        </form>

        {% if data %}
        <div class="results">
            <div class="result">
                <strong>The solution for:</strong>
                    <p>{{ data.equation }}</p>
            </div>
            <div class="result">
                <strong>Create equations with each variable corresponding with a molecule:</strong>
                {% for key, value in data.initial_equations.items() %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}
            </div>
            <div class="result">
                <strong>Adjust equations so that "{{data.variables[-1]}}" would be on the right:</strong>
                {% for key, value in data.adjusted_equations.items() %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}
            </div>
            <div class="result matrix">
                <strong>Create the coefficient matrix with las column equal to "{{data.variables[-1]}}"(We assume that "{{data.variables[-1]}}" is 1):</strong>
                {% for row in data.coefficient_matrix %}
                    <div class="row">
                        {% for item in row %}
                            <span>{{ item }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="result matrix">
                <strong>Rearranged matrix with numbers on the diagonal not equal to 0:</strong>
                {% for row in data.coefficient_adjusted_matrix %}
                    <div class="row">
                        {% for item in row %}
                            <span>{{ item }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="result matrix">
                <strong>Matrix solved using gaussian elimination:</strong>
                {% for row in data.solved_matrix %}
                    <div class="row">
                        {% for item in row %}
                            <span>{{ item }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="result">
                <strong>All the coefficients if "{{data.variables[-1]}}" equals to 1:</strong>
                <p>{{ data.unbalanced_coefficients }}</p>
            </div>
            <div class="result">
                <strong>Balanced:</strong>
                <p>{{ data.balanced_coefficients }}</p>
            </div>
            <div class="result">
                <strong>Answer:</strong>
                <p>{{ data.answer }}</p>
            </div>
        </div>
        {% endif %}
    </div> 
</body>
</html>
